@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);

.logo {
  height: 40px;
  margin: 10px 100px ;
  float: left;
}
.header {
  background-color: #fff;
  padding: 0;
  position: fixed;
  width: 100%;
}
.content {
  padding: 0 20px;
  margin-top: 64px;
}
