.menu {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 64px;
}

.menu-item {
    display: inline-block;
    color: #484848;
    font-size: 14px;
    line-height: 3.5rem;
    width: 20%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}
